#search-results {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: none;
  padding: 0 20px 0 0;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);

  #search {
      border: none;
      width: 100%;
      padding: 30px;
      border-radius: 20px;
      font-size: 0.9rem;

      &:focus {
          outline: none;
      }
  }
}  


main {

  div {
      display: grid;
      grid-template-columns: 10vw 50vw 30vw 10vw;

      #pokemon-loading {
          grid-column: 1;

          ul {
              list-style: none;
          }
      }

      #pokemon-list {
          grid-column: 2;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 30px;
          justify-content: flex-start;



          #list {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              

              li {
                  background-color: rgba(255, 255, 255, 0.842);
                  border-radius: 40px;
                  display: grid;
                  grid-template-rows: 30% 10% 30% 30%;
                  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                  width: 30%;
                  min-width: 288px;
                  gap: 10px;
                  height: 200px;
                  margin: 40px 0 0 20px;

                  img {
                      grid-row: 1;
                      border-radius: 20px;
                      position: relative;
                      height: 120px;
                      left: 50%;
                      transform: translateX(-50%);
                      top: -110%;
                  }

                  p:nth-of-type(1) {
                      grid-row: 2;
                      color: rgb(119, 119, 119);
                      font-size: 1rem;
                      text-align: center;
                      font-weight: bold;
                  }
                  
                  p:nth-of-type(2) {
                      grid-row: 3;
                      color: rgb(0, 0, 0);
                      font-size: 1.2rem;
                      text-align: center;
                      font-weight: bold;
                      text-transform: capitalize
                  }
              }
          }
      }
  }
}

#pokemon-details {
  grid-column: 3;
  margin-left: 20px;
  margin-top: 40px;



  

  #pokemon-detail{
      background-color: rgba(255, 255, 255, 0.548);
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      padding-bottom: 20px;
      width: 500px;

      img {
          height: 200px;
          position: relative;
          top: -50px;
      }
  
      .id {
          color: rgb(105, 105, 105);
      }
  
      h2 {
          color: rgb(0, 0, 0);
          font-size: 2rem;
          text-transform: capitalize;
      }
  
      .types {
          list-style: none;
          display: flex;
          gap: 10px;
          padding: 20px 0;
      }
  
      h3 {
          padding: 10px 0;
          text-transform: uppercase;
      }
  
      .abilities {
          display: flex;
          gap: 10px;
          list-style: none;
          padding-bottom: 20px;
  
          li {
              color: rgb(0, 0, 0);
              background-color: royalblue;
              padding: 7px;
              border-radius: 20px;
          }
      }
  
      p {
          padding: 10px 0;
          color: rgb(0, 0, 0);
      }
  
      .stats {
          padding: 10px 0;
          color: rgb(0, 0, 0);
  
          li {
              display: flex;
              justify-content: space-between;
              padding: 10px;
              border-bottom: 1px solid rgb(0, 0, 0);
          }
      }
  }
}